:root {
  --echoes-neutral-50: #fafafa;
  --echoes-neutral-100: #f4f4f5;
  --echoes-neutral-200: #e4e4e7;
  --echoes-neutral-300: #d4d4d8;
  --echoes-neutral-400: #a1a1aa;
  --echoes-neutral-500: #71717a;
  --echoes-neutral-600: #52525b;
  --echoes-neutral-700: #3f3f46;
  --echoes-neutral-800: #27272a;
  --echoes-neutral-900: #18181b;
  --echoes-neutral-950: #09090b;
  --echoes-anima-50: #f0fdf6;
  --echoes-anima-100: #ddfbe8;
  --echoes-anima-200: #bef5d3;
  --echoes-anima-300: #8eecb4;
  --echoes-anima-400: #56db8e;
  --echoes-anima-500: #2fc470;
  --echoes-anima-600: #20a558;
  --echoes-anima-700: #1c8449;
  --echoes-anima-800: #1a693d;
  --echoes-anima-900: #175634;
  --echoes-anima-950: #0a301b;
  --echoes-eros-50: #fef2f3;
  --echoes-eros-100: #fde3e6;
  --echoes-eros-200: #fbccd2;
  --echoes-eros-300: #f7a8b3;
  --echoes-eros-400: #f17689;
  --echoes-eros-500: #e74c64;
  --echoes-eros-600: #d32f4f;
  --echoes-eros-700: #b22240;
  --echoes-eros-800: #951e3b;
  --echoes-eros-900: #7f1d37;
  --echoes-eros-950: #460c1a;
  --echoes-bloom-50: #fef8f3;
  --echoes-bloom-100: #fdeee6;
  --echoes-bloom-200: #fadacc;
  --echoes-bloom-300: #f6bfa8;
  --echoes-bloom-400: #f09b74;
  --echoes-bloom-500: #e87a47;
  --echoes-bloom-600: #d96129;
  --echoes-bloom-700: #b64d1f;
  --echoes-bloom-800: #92401e;
  --echoes-bloom-900: #75361d;
  --echoes-bloom-950: #3f1a0d;
}
