:root {
  --echoes-neutral-50: #fafafa;
  --echoes-neutral-100: #f4f4f5;
  --echoes-neutral-200: #e4e4e7;
  --echoes-neutral-300: #d4d4d8;
  --echoes-neutral-400: #a1a1aa;
  --echoes-neutral-500: #71717a;
  --echoes-neutral-600: #52525b;
  --echoes-neutral-700: #3f3f46;
  --echoes-neutral-800: #27272a;
  --echoes-neutral-900: #18181b;
  --echoes-neutral-950: #09090b;
  --echoes-anima-50: #f0fdf4;
  --echoes-anima-100: #dcfce7;
  --echoes-anima-200: #bbf7d0;
  --echoes-anima-300: #86efac;
  --echoes-anima-400: #4ade80;
  --echoes-anima-500: #22c55e;
  --echoes-anima-600: #16a34a;
  --echoes-anima-700: #15803d;
  --echoes-anima-800: #166534;
  --echoes-anima-900: #14532d;
  --echoes-anima-950: #052e16;
  --echoes-eros-50: #fef2f2;
  --echoes-eros-100: #fee2e2;
  --echoes-eros-200: #fecaca;
  --echoes-eros-300: #fca5a5;
  --echoes-eros-400: #f87171;
  --echoes-eros-500: #ef4444;
  --echoes-eros-600: #dc2626;
  --echoes-eros-700: #b91c1c;
  --echoes-eros-800: #991b1b;
  --echoes-eros-900: #7f1d1d;
  --echoes-eros-950: #450a0a;
  --echoes-bloom-50: #fff7ed;
  --echoes-bloom-100: #ffedd5;
  --echoes-bloom-200: #fed7aa;
  --echoes-bloom-300: #fdba74;
  --echoes-bloom-400: #fb923c;
  --echoes-bloom-500: #f97316;
  --echoes-bloom-600: #ea580c;
  --echoes-bloom-700: #c2410c;
  --echoes-bloom-800: #9a3412;
  --echoes-bloom-900: #7c2d12;
  --echoes-bloom-950: #431407;
}
